{% extends "base.html" %}

{% block content %}

	<h1>View Clients</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<th>{{ form.name.label }}</th>
				<th>{{ form.gender.label }}</th>
				<th>{{ form.race.label }}</th>
				<th>{{ form.military.label }}</th>
			</tr>
			<tr>
				<td>{{ form.name(size=20) }}</td>
				<td>{{ form.gender(size=6) }}</td>
				<td>{{ form.race(size=6) }}</td>
				<td>{{ form.military(size=6) }}</td>
			</tr>
			<tr>
				<td>
					{% for error in form.name.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</td>
				<td>
					{% for error in form.gender.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</td>
				<td>
					{% for error in form.race.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</td>
				<td>
					{% for error in form.military.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</td>
			</tr>
		</table>		
		<p> {{ form.submit() }} </p>
	</form>

	<table>
		<tr>
			<th>Client ID</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Race</th>
			<th>Military Status</th>
			<th>Created By</th>
			<th>Created Date</th>
		<tr>
		{% for c in clients %}
		<tr>
			<td>{{ c.id }}</td>
			<td>{{ c.name }}</td>
			<td>{{ lists.genders[c.gender] }}</td>
			<td>{{ lists.race[c.race] }}</td>
			<td>{{ lists.military[c.military] }}</td>
			<td>{{ c.created_by }}</td>
			<td>{{ c.created_date }}</td>
		</tr>
		{% endfor%}

{% endblock %}